{% extends "layout.html" %}
{% block title %}
reference
{% endblock %}
{% block main %}
<table class="ref">

<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Січень</h2></td>
</tr>
<tr>
<td><span style="font-weight: 400;">19 січня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄСВ за ІV квартал 2020 року (3300,00 грн)</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Лютий</h2></td>
</tr>
<tr>
<td><span style="font-weight: 400;">09 лютого 2021</span></td>
<td><span style="font-weight: 400;">Звіт з ЄСВ за ф. № Д5 за 2020 рік</span><span style="font-weight: 400;"><br>
</span><span style="font-weight: 400;">Декларація з ЄП за 2020 рік</span></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">19 лютого 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄП за ІV квартал 2020 року</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Квітень</h2></td>
</tr>
<tr>
<td><span style="font-weight: 400;">19 квітня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄСВ за І квартал 2021 року (3960,00 грн)</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Травень</h2></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">11 травня 2021</span></td>
<td><span style="font-weight: 400;">Декларація з ЄП за І квартал 2021 року</span></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">20 травня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄП за І квартал 2021 року</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Липень</h2></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">19 липня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄСВ за IІ квартал 2021 року (3960,00 грн)</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Серпень</h2></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">09 серпня 2021</span></td>
<td><span style="font-weight: 400;">Декларація з ЄП за півріччя 2021 року</span></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">19 серпня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄП за IІ квартал 2021 року</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Жовтень</h2></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">19 жовтня 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄСВ за IIІ квартал 2021 року (3960,00 грн)</span></td>
</tr>
<tr>
<td colspan="2" style="font-weight: 400;text-align:left;"><h2>Листопад</h2></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">09 листопада 2021</span></td>
<td><span style="font-weight: 400;">Декларація з ЄП за 9 місяців 2021 року</span></td>
</tr>
<tr>
<td ><span style="font-weight: 400;">19 листопада 2021</span></td>
<td><span style="font-weight: 400;">Сплата ЄП за IIІ квартал 2021 року</span></td>
</tr>
</table>
{% endblock %}