{% extends "layout.html" %}
{% block title %}
transactions
{% endblock %}
{% block main %}
<h1 style="text-align:center">Transactions</h1>
<table>
<tr>
    <th>Сума</th>
    <th>Валюта</th>
    <th>Курс</th>
    <th>Сума в грн</th>
    <th>Дата</th>
    <th></th>
</tr>
{% for row in transactions %}
<tr>
    <td>{{ row.sum }}</td>
    <td>{{ row.currency }}</td>
    <td>{{ row.rate }}</td>
    <td>{{ row.uah }}</td>
    <td>{{ row.date }}</td>
    <td>
        <form action="/transactions" method="post">
            <input name="id" type="hidden" value="{{ row.id }}">
            <input type="submit" value="Remove">
        </form>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}